@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

/*Clear style*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  all: unset;
  display: revert;
}

ul,
li {
  list-style: none;
}

h1,
h2 {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
}

main {
  min-height: 100%;
}


/*------------------------------*/

/*General style*/

body {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  background: var(--color-basic-darkSteel);
  color: var(--color-basic-lightGray);
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}


/*?----------------------------------------------------------*/

/*Variables*/

:root {
  --color-bright-default: #ef9978;
  --color-bright-active: #f36933;
  --color-basic-lightGray: #f5f6f8;
  --color-basic-darkSteel: #0e1011;
  --font1: 24px;
  --font2: 32px;
  --font3: 46px;
  --font4: 72px;
}

/*?---------------------------------------------------------*/

.game-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  padding-bottom: 30px;
  color: var(--color-bright-default);
  font-family: Bangers, Arial, sans-serif;
  font-size: var(--font4);
}

.subtitle {
  padding-bottom: 30px;
  font-size: var(--font1);
}

.game {
  display: flex;
  justify-content: center;
  width: 600px;
  height: 600px;
  border: 5px solid var(--color-bright-default);
  border-radius: 16px;
  overflow: hidden;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menu > * {
  margin-bottom: 60px;
}

.menu__title {
  font-size: var(--font3);
}

.menu__subtitle {
  color: var(--color-bright-active);
  font-size: var(--font2);
  line-height: 50px;
}

.menu__level {
  width: 80px;
  height: 80px;
  color: var(--color-basic-darkSteel);
  background-color: var(--color-basic-lightGray);
  border: 2px solid var(--color-bright-active);
  border-radius: 8px;
  font-size: var(--font3);
}

.menu__btn {
  padding: 25px 50px;
  margin-bottom: 0;
  border: 2px solid var(--color-bright-active);
  border-radius: 10px;
  color: var(--color-basic-lightGray);
  font-size: var(--font1);
}

.menu__btn:hover {
  color: var(--color-basic-darkSteel);
  background-color: var(--color-bright-active);
  box-shadow: 2px 2px 10px var(--color-bright-default);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.hide {
  display: none;
}

.warning {
  text-shadow: 4px 4px 15px var(--color-basic-lightGray);
  font-weight: 900;
  animation: animate-text 1.5s ease-in-out;
}

.warning strong {
  text-decoration: underline;
}

@keyframes animate-text {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.playground {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  perspective: 1000px;
}

.flip-card-wrap {
  transition: transform 0.5s;
  transform-style: preserve-3d;
  box-shadow: 0 1px 5px var(--color-basic-lightGray);
  border-radius: 5px;
  cursor: pointer;
}

.front-flip {
  background: no-repeat 0 0 / cover url(../assets/jpg/images.jpg);
}

.front-flip,
.back-flip {
  width: 220px;
  height: 220px;
  backface-visibility: hidden;
  border-radius: 5px;
}

.card-size-4 {
  width: 120px;
  height: 120px;
}

.card-size-6 {
  width: 80px;
  height: 80px;
}

.card-size-8 {
  width: 60px;
  height: 60px;
}

.card-size-10 {
  width: 45px;
  height: 45px;
}

.flip {
  transform: rotateY(180deg);
  transition: 0.7s ease-in-out;
}

.back-flip {
  position: absolute;
  transform: rotateY(180deg);
  transition: 1s ease-in-out;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, var(--color-basic-lightGray), var(--color-bright-default), var(--color-bright-active));
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.number {
  color: var(--color-basic-darkSteel);
  font-size: var(--font4);
  font-weight: 900;
}
